/*
-----------------------------------------------
	1) Global CSS
-----------------------------------------------
*/

.center {
	color:#000;
}
/*
-----------------------------------------------
	2) Top Navigation bar
-----------------------------------------------
*/
.navbar-default .navbar-nav>li>a:hover {
	/*color: #00b3e4 !important;*/
	background-color: transparent;

}
header.sticky .navbar-default .navbar-nav>li>a:hover {
	/*color: #00b3e4 !important;*/
}
header .main--menu li a:before {
	content: '';
	position: absolute;
	width: 0;
	top: 93%;
	left: 0;
	height: 3px;
	-webkit-transition: all 1000ms ease;
	transition: all 1000ms ease; }

header .main--menu li a:hover:before {
	width: 100%; }

header .main--menu li:last-child a {
	margin-right: 0; }

header .main--menu li.active a:before {
	width: 100%; 
}
.navbar-default .navbar-nav>li>a {
	padding: 15px 15px;
}

/*
-----------------------------------------------
	4) About us Section 
-----------------------------------------------
*/
#box {
	padding-top: 15px;
    padding-bottom: 15px;
}
#max-aboutus-section #box .row > div .aboutus--box {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  padding: 160px 10px;
  cursor: default; }

#max-aboutus-section #box .row > div .aboutus--box .icon {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }

#max-aboutus-section #box .row > div .aboutus--box:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f3f3f3; }

#max-aboutus-section #box .row > div .aboutus--box:hover  .icon{
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg); }


#max-feature-section .row > div .feature--box {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 140px 10px;
    cursor: default;
	margin-top: -50px;}


#max-feature-section .row > div .feature--box .icon {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }

#max-feature-section .row > div .feature--box:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f3f3f3; }

#max-feature-section .row > div .feature--box:hover  .icon{
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg); }

span.number {
	color: #fff !important;
}

#max-numberbox p {
	color: #fff !important;
}	
  /*
-----------------------------------------------
	6) Customer Say Section / Testimonials
-----------------------------------------------
*/
  
h2.name {
	color:#000;
}
/*
-----------------------------------------------
	8) Meet The Team Section
-----------------------------------------------
*/
#max-team-section .col-md-4 {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
/*  padding: 160px 10px;*/
  cursor: default; }

#max-team-section .col-md-4:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f3f3f3; }
/*
----------------------------------------------
Customizer
----------------------------------------------
*/

div.style-customizer {
	background-color: #fff;
	color: #262626;
	width: 300px;
	position: fixed;
	top: 0;
	z-index: 9999999;
	left: -300px;
	-webkit-box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
	box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
	height: 100%;
	bottom: 0; }

.style-customizer a.button:hover {
	color: #2395ec !important; }

.style-customizer.closed {
	-webkit-box-shadow: none;
	box-shadow: none; }

.style-customizer a.button:hover:after {
	z-index: -1; }

.style-customizer a.button {
	z-index: 9; }

.style-customizer a {
	text-decoration: none; }

.style-customizer a.button.button-border {
	background: #80858a  none repeat scroll 0 0;
	color: #ffffff;
	display: inline-block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	margin-top: 15px;
	padding: 8px 30px;
	text-transform: uppercase;
	width: auto;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s; }

.style-customizer a.button.button-border.btn-buy {
	background: #7aa93c none repeat scroll 0 0;
	border: none;
	-webkit-box-shadow: 0 2px 0 #6f9a37;
	box-shadow: 0 2px 0 #6f9a37;
	color: #ffffff; }

.style-customizer a.button.button-border.btn-buy:hover {
	background: #6f9a37 none repeat scroll 0 0;
	color: #ffffff !important; }

.style-customizer a.button.button-border:hover {
	background: #494c4e;
	color: #fff !important; }

.opened .opener {
	padding-left: 9px; }

div.style-customizer .buy-button {
	background: #1f1f1f none repeat scroll 0 0;
	display: inline-block;
	padding: 18px 30px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2; }

div.style-customizer .content-chooser {
	background-color: #1f1f1f;
	border-top: medium none;
	bottom: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 140px 22px 30px 30px;
	position: absolute;
	top: 0;
	z-index: -1; }

div.style-customizer.opened .content-chooser {
	opacity: 1; }

.content-chooser p {
	color: #d6cccc;
	margin-bottom: 10px;
	font-size: 13px; }

div.style-customizer h2 {
	margin: 0;
	font-size: 18px; }

div.style-customizer h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 15px;
	margin-bottom: 10px;
	margin-top: 30px; }

div.style-customizer hr {
	margin: 15px 0; }

div.style-customizer hr + h3 {
	margin-top: 0; }

div.style-customizer a.opener {
	display: block;
	height: 45px;
	position: absolute;
	left: 300px;
	top: 200px;
	background: #1f1f1f;
	width: 45px;
	font-size: 20px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14), -1px 0 3px 0 rgba(0, 0, 0, 0.14);
	box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14), -1px 0 3px 0 rgba(0, 0, 0, 0.14); }

div.style-customizer.opened a.opener {
	right: -45px;
	border-color: transparent; }

div.style-customizer.opened a.opener i {
	display: block;
	line-height: 42px;
	color: #fff; }

div.style-customizer ul {
	list-style: none;
	margin: 0;
	padding: 5px 0 0 0;
	font-size: 0; }

div.style-customizer ul li {
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 25px;
	margin: 0 2px 3px 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	width: 60px; }

div.style-customizer ul.layoutstyle li {
	background-color: #f1f1f1;
	border: 1px solid #2395ec;
	color: #2395ec;
	font-size: 14px;
	font-weight: 700;
	height: 30px;
	line-height: 26px;
	padding-right: 5px;
	text-align: center;
	width: 49%; }

div.style-customizer ul.layoutstyle li:hover {
	background-color: #2395ec;
	color: #fff; }

div.style-customizer ul.layoutstyle li i {
	color: #cccccc;
	font-size: 11px; }

div.style-customizer ul.layoutstyle li.selected {
	border: 1px solid #aaaaaa; }

div.style-customizer ul.layoutstyle li.selected i {
	color: #666666; }

div.style-customizer ul.footerChange li {
	width: 45%;
	height: 30px;
	margin-right: 5px;
	font-size: 13px;
	padding: 6px 14px 0; }

div.style-customizer ul.footerChange li.dark {
	color: #f1f1f1;
	background-color: #262626; }

div.style-customizer ul.footerChange li.light {
	color: #333333;
	background-color: #f7f7f7; }

div.style-customizer ul.footerChange li i {
	width: 20px; }

div.style-customizer ul.patternChange li {
	border: 1px solid #ccc; }

div.style-customizer ul.patternChange li.pattern-0.selected:after,
div.style-customizer ul.patternChange li.pattern-1.selected:after,
div.style-customizer ul.patternChange li.pattern-2.selected:after,
div.style-customizer ul.patternChange li.pattern-3.selected:after,
div.style-customizer ul.patternChange li.pattern-4.selected:after {
	color: #333333; }

div.style-customizer ul.patternChange li.selected:after {
	color: #ffffff; }

div.style-customizer ul li.selected {
	border: 1px solid #fff; }

div.style-customizer ul.resetAll li {
	height: auto;
	margin-top: 15px;
	min-width: 0;
	padding: 6px 0;
	text-align: center;
	width: 100%; }

div.style-customizer .btn a {
	text-decoration: none;
	color: #ffffff; }

div.style-customizer select {
	width: 100%;
	padding: 5px;
	border: 1px solid #b2bfca; }

/*Color Skins*/
div.style-customizer .color-1 {
	background: #c69c6d; }

div.style-customizer .color-2 {
	background: #3ba5e3; }

div.style-customizer .color-3 {
	background: #2ecc71; }

div.style-customizer .color-4 {
	background: #8eda5c; }

div.style-customizer .color-5 {
	background: #73ae20; }

div.style-customizer .color-6 {
	background: #feb500; }

div.style-customizer .color-7 {
	background: #f1c40f; }

div.style-customizer .color-8 {
	background: #f63145; }

div.style-customizer .color-9 {
	background: #ff5454; }

div.style-customizer .color-10 {
	background: #c472d6; }

div.style-customizer .color-11 {
	background: #7877c1; }

@media (max-width: 992px) {
	.style-customizer {
		display: none !important; }
	.boxed-layout .page-wrapper {
		width: inherit; }
	.boxed-layout.page-wrapper {
		width: inherit; } }

/*
----------------------------------------------
Color for customizer
----------------------------------------------
*/
.brown {
	color:  #c69c6d;
}
.brown section .section--header i {
	color:  #c69c6d; }

.brown header .main--menu li a:before {
	background-color:  #c69c6d; }

.brown #max-title span {
	color:  #c69c6d; }

.brown .btn-primary {
	border: 1px solid #c69c6d!important; }

.brown .btn-primary:hover {
	background-color: #c69c6d!important;
}
.brown .icon {
	color: #c69c6d;
}
.brown span.skill {
	color: #c69c6d;
}
.brown #max-numberbox {
	background: #c69c6d;
}
.brown #max-numberbox .icon, .brown #max-numberbox .number, .brown #max-numberbox p {
	color: #515151 !important;
}
.brown .border-design-dot{
	background-color: #c69c6d;
}
.brown ul.filter > li.active a{
	background: #c69c6d;
}
.brown ul.filter > li > a:hover{
	background: #c69c6d;
}

.brown .social-icons a:hover{
	color: #c69c6d;
}
.brown .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color: #c69c6d;
    border-color: #c69c6d;
}
.brown #quote-carousel .carousel-indicators .active{
	border-color: #c69c6d;
}
.brown #max-blog-section .btn-primary:hover {
	background-color: #c69c6d !important;
}
.brown #classic-price{
	background: #c69c6d;
}
.brown .member-profile span{
	color: #c69c6d;
}
.brown .plan-box .btn-primary{
	color: #000000 !important;
}
.brown .post-box h2 a{
	color: #c69c6d;
}
.brown #max-slider-section{
	background: #c69c6d;
}
.brown #max-skills{
	strokeStyle: #c69c6d;
}
.blue {
	color: #3ba5e3;
}
.blue section .section--header i {
	color: #3ba5e3; }

.blue header .main--menu li a:before {
	background-color: #3ba5e3; }

.blue #max-title span {
	color: #3ba5e3; }

.blue .btn-primary {
	border: 1px solid #3ba5e3!important; }

.blue .btn-primary:hover {
	background-color:#3ba5e3!important;
}
.blue .icon {
	color: #3ba5e3;
}
.blue span.skill {
	color: #3ba5e3;
}
.blue #max-numberbox {
	background:#3ba5e3;
}
.blue #max-numberbox .icon, .blue #max-numberbox .number, .blue #max-numberbox p {
	color: #515151 !important;
}
.blue .border-design-dot{
	background-color:#3ba5e3;
}
.blue ul.filter > li.active a{
	background:#3ba5e3;
}
.blue ul.filter > li > a:hover{
	background:#3ba5e3;
}

.blue .social-icons a:hover{
	color:#3ba5e3;
}
.blue .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#3ba5e3;
    border-color:#3ba5e3;
}
.blue #quote-carousel .carousel-indicators .active{
	border-color:#3ba5e3;
}
.blue #max-blog-section .btn-primary:hover {
	background-color:#3ba5e3 !important;
}
.blue #classic-price{
	background:#3ba5e3;
}
.blue .member-profile span{
	color:#3ba5e3;
}
.blue .plan-box .btn-primary{
	color: #000000 !important;
}
.blue .post-box h2 a{
	color:#3ba5e3;
}
.blue #max-slider-section{
	background:#3ba5e3;
}
.blue #max-skills{
	strokeStyle:#3ba5e3;
}
.green {
	color: #2ecc71;
}
.green section .section--header i {
	color: #2ecc71; }

.green header .main--menu li a:before {
	background-color: #2ecc71; }

.green #max-title span {
	color: #2ecc71; }

.green .btn-primary {
	border: 1px solid #2ecc71!important; }

.green .btn-primary:hover {
	background-color:#2ecc71!important;
}
.green .icon {
	color:#2ecc71;
}
.green span.skill {
	color: #2ecc71;
}
.green #max-numberbox {
	background:#2ecc71;
}
.green #max-numberbox .icon, .green #max-numberbox .number, .green #max-numberbox p {
	color: #515151 !important;
}
.green .border-design-dot{
	background-color:#2ecc71;
}
.green ul.filter > li.active a{
	background:#2ecc71;
}
.green ul.filter > li > a:hover{
	background:#2ecc71;
}

.green .social-icons a:hover{
	color:#2ecc71;
}
.green .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#2ecc71;
    border-color:#2ecc71;
}
.green #quote-carousel .carousel-indicators .active{
	border-color:#2ecc71;
}
.green #max-blog-section .btn-primary:hover {
	background-color:#2ecc71 !important;
}
.green #classic-price{
	background:#2ecc71;
}
.green .member-profile span{
	color:#2ecc71;
}
.green .plan-box .btn-primary{
	color: #000000 !important;
}
.green .post-box h2 a{
	color:#2ecc71;
}
.green #max-slider-section{
	background:#2ecc71;
}
.green #max-skills{
	strokeStyle:#2ecc71;
}
.lime {
	color: #8eda5c;
}
.lime section .section--header i {
	color: #8eda5c; }

.lime header .main--menu li a:before {
	background-color: #8eda5c; }

.lime #max-title span {
	color: #8eda5c; }

.lime .btn-primary {
	border: 1px solid #8eda5c!important; }

.lime .btn-primary:hover {
	background-color:#8eda5c!important;
}
.lime .icon {
	color: #8eda5c;
}
.lime span.skill {
	color: #8eda5c;
}
.lime #max-numberbox {
	background:#8eda5c;
}
.lime #max-numberbox .icon, .lime #max-numberbox .number, .lime #max-numberbox p {
	color: #515151 !important;
}
.lime .border-design-dot{
	background-color:#8eda5c;
}
.lime ul.filter > li.active a{
	background:#8eda5c;
}
.lime ul.filter > li > a:hover{
	background:#8eda5c;
}

.lime .social-icons a:hover{
	color:#8eda5c;
}
.lime .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#8eda5c;
    border-color:#8eda5c;
}
.lime #quote-carousel .carousel-indicators .active{
	border-color:#8eda5c;
}
.lime #max-blog-section .btn-primary:hover {
	background-color:#8eda5c !important;
}
.lime #classic-price{
	background:#8eda5c;
}
.lime .member-profile span{
	color:#8eda5c;
}
.lime .plan-box .btn-primary{
	color: #000000 !important;
}
.lime .post-box h2 a{
	color:#8eda5c;
}
.lime #max-slider-section{
	background:#8eda5c;
}
.lime #max-skills{
	strokeStyle:#8eda5c;
}
.green2 {
	color: #73ae20;
}
.green2 section .section--header i {
	color: #73ae20; }

.green2 header .main--menu li a:before {
	background-color: #73ae20; }

.green2 #max-title span {
	color: #73ae20; }

.green2 .btn-primary {
	border: 1px solid #73ae20!important; }

.green2 .btn-primary:hover {
	background-color:#73ae20!important;
}
.green2 .icon {
	color: #73ae20;
}
.green2 span.skill {
	color: #73ae20;
}
.green2 #max-numberbox {
	background:#73ae20;
}
.green2 #max-numberbox .icon, .green2 #max-numberbox .number, .green2 #max-numberbox p {
	color: #515151 !important;
}
.green2 .border-design-dot{
	background-color:#73ae20;
}
.green2 ul.filter > li.active a{
	background:#73ae20;
}
.green2 ul.filter > li > a:hover{
	background:#73ae20;
}

.green2 .social-icons a:hover{
	color:#73ae20;
}
.green2 .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#73ae20;
    border-color:#73ae20;
}
.green2 #quote-carousel .carousel-indicators .active{
	border-color:#73ae20;
}
.green2 #max-blog-section .btn-primary:hover {
	background-color:#73ae20 !important;
}
.green2 #classic-price{
	background:#73ae20;
}
.green2 .member-profile span{
	color:#73ae20;
}
.green2 .plan-box .btn-primary{
	color: #000000 !important;
}
.green2 .post-box h2 a{
	color:#73ae20;
}
.green2 #max-slider-section{
	background:#73ae20;
}
.green2 #max-skills{
	strokeStyle:#73ae20;
}
.yellow {
	color:  #feb500;
}
.yellow section .section--header i {
	color:  #feb500; }

.yellow header .main--menu li a:before {
	background-color:  #feb500; }

.yellow #max-title span {
	color:  #feb500; }

.yellow .btn-primary {
	border: 1px solid #feb500!important; }

.yellow .btn-primary:hover {
	background-color: #feb500!important;
}
.yellow .icon {
	color: #feb500;
}
.yellow span.skill {
	color: #feb500;
}
.yellow #max-numberbox {
	background: #feb500;
}
.yellow #max-numberbox .icon, .yellow #max-numberbox .number, .yellow #max-numberbox p {
	color: #515151 !important;
}
.yellow .border-design-dot{
	background-color: #feb500;
}
.yellow ul.filter > li.active a{
	background: #feb500;
}
.yellow ul.filter > li > a:hover{
	background: #feb500;
}

.yellow .social-icons a:hover{
	color: #feb500;
}
.yellow .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color: #feb500;
    border-color: #feb500;
}
.yellow #quote-carousel .carousel-indicators .active{
	border-color: #feb500;
}
.yellow #max-blog-section .btn-primary:hover {
	background-color: #feb500 !important;
}
.yellow #classic-price{
	background: #feb500;
}
.yellow .member-profile span{
	color: #feb500;
}
.yellow .plan-box .btn-primary{
	color: #000000 !important;
}
.yellow .post-box h2 a{
	color: #feb500;
}
.yellow #max-slider-section{
	background: #feb500;
}
.yellow #max-skills{
	strokeStyle: #feb500;
}
.yellow2 {
	color: #f1c40f;
}
.yellow2 section .section--header i {
	color: #f1c40f; }

.yellow2 header .main--menu li a:before {
	background-color: #f1c40f; }

.yellow2 #max-title span {
	color: #f1c40f; }

.yellow2 .btn-primary {
	border: 1px solid #f1c40f!important; }

.yellow2 .btn-primary:hover {
	background-color:#f1c40f!important;
}
.yellow2 .icon {
	color: #f1c40f;
}
.yellow2 span.skill {
	color: #f1c40f;
}
.yellow2 #max-numberbox {
	background:#f1c40f;
}
.yellow2 #max-numberbox .icon, .yellow2 #max-numberbox .number, .yellow2 #max-numberbox p {
	color: #515151 !important;
}
.yellow2 .border-design-dot{
	background-color:#f1c40f;
}
.yellow2 ul.filter > li.active a{
	background:#f1c40f;
}
.yellow2 ul.filter > li > a:hover{
	background:#f1c40f;
}

.yellow2 .social-icons a:hover{
	color:#f1c40f;
}
.yellow2 .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#f1c40f;
    border-color:#f1c40f;
}
.yellow2 #quote-carousel .carousel-indicators .active{
	border-color:#f1c40f;
}
.yellow2 #max-blog-section .btn-primary:hover {
	background-color:#f1c40f !important;
}
.yellow2 #classic-price{
	background:#f1c40f;
}
.yellow2 .member-profile span{
	color:#f1c40f;
}
.yellow2 .plan-box .btn-primary{
	color: #000000 !important;
}
.yellow2 .post-box h2 a{
	color:#f1c40f;
}
.yellow2 #max-slider-section{
	background:#f1c40f;
}
.yellow2 #max-skills{
	strokeStyle:#f1c40f;
}
.red {
	color: #f63145;
}
.red section .section--header i {
	color: #f63145; }

.red header .main--menu li a:before {
	background-color: #f63145; }

.red #max-title span {
	color: #f63145; }

.red .btn-primary {
	border: 1px solid #f63145!important; }

.red .btn-primary:hover {
	background-color:#f63145!important;
}
.red .icon {
	color: #f63145;
}
.red span.skill {
	color: #f63145;
}
.red #max-numberbox {
	background:#f63145;
}
.red #max-numberbox .icon, .red #max-numberbox .number, .red #max-numberbox p {
	color: #515151 !important;
}
.red .border-design-dot{
	background-color:#f63145;
}
.red ul.filter > li.active a{
	background:#f63145;
}
.red ul.filter > li > a:hover{
	background:#f63145;
}

.red .social-icons a:hover{
	color:#f63145;
}
.red .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#f63145;
    border-color:#f63145;
}
.red #quote-carousel .carousel-indicators .active{
	border-color:#f63145;
}
.red #max-blog-section .btn-primary:hover {
	background-color:#f63145 !important;
}
.red #classic-price{
	background:#f63145;
}
.red .member-profile span{
	color:#f63145;
}
.red .plan-box .btn-primary{
	color: #000000 !important;
}
.red .post-box h2 a{
	color:#f63145;
}
.red #max-slider-section{
	background:#f63145;
}
.red #max-skills{
	strokeStyle:#f63145;
}
.red2 {
	color: #ff5454;
}
.red2 section .section--header i {
	color: #ff5454; }

.red2 header .main--menu li a:before {
	background-color: #ff5454; }

.red2 #max-title span {
	color: #ff5454; }

.red2 .btn-primary {
	border: 1px solid #ff5454!important; }

.red2 .btn-primary:hover {
	background-color:#ff5454!important;
}
.red2 .icon {
	color: #ff5454;
}
.red2 span.skill {
	color: #ff5454;
}
.red2 #max-numberbox {
	background:#ff5454;
}
.red2 #max-numberbox .icon, .red2 #max-numberbox .number, .red2 #max-numberbox p {
	color: #515151 !important;
}
.red2 .border-design-dot{
	background-color:#ff5454;
}
.red2 ul.filter > li.active a{
	background:#ff5454;
}
.red2 ul.filter > li > a:hover{
	background:#ff5454;
}

.red2 .social-icons a:hover{
	color:#ff5454;
}
.red2 .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#ff5454;
    border-color:#ff5454;
}
.red2 #quote-carousel .carousel-indicators .active{
	border-color:#ff5454;
}
.red2 #max-blog-section .btn-primary:hover {
	background-color:#ff5454 !important;
}
.red2 #classic-price{
	background:#ff5454;
}
.red2 .member-profile span{
	color:#ff5454;
}
.red2 .plan-box .btn-primary{
	color: #000000 !important;
}
.red2 .post-box h2 a{
	color:#ff5454;
}
.red2 #max-slider-section{
	background:#ff5454;
}
.red2 #max-skills{
	strokeStyle:#ff5454;
}
.violet {
	color: #c472d6;
}
.violet section .section--header i {
	color: #c472d6; }

.violet header .main--menu li a:before {
	background-color: #c472d6; }

.violet #max-title span {
	color: #c472d6; }

.violet .btn-primary {
	border: 1px solid #c472d6!important; }

.violet .btn-primary:hover {
	background-color:#c472d6!important;
}
.violet .icon {
	color: #c472d6;
}
.violet span.skill {
	color: #c472d6;
}
.violet #max-numberbox {
	background:#c472d6;
}
.violet #max-numberbox .icon, .violet #max-numberbox .number, .violet #max-numberbox p {
	color: #515151 !important;
}
.violet .border-design-dot{
	background-color:#c472d6;
}
.violet ul.filter > li.active a{
	background:#c472d6;
}
.violet ul.filter > li > a:hover{
	background:#c472d6;
}

.violet .social-icons a:hover{
	color:#c472d6;
}
.violet .portfolio-section figure .inner-overlay-content.with-icons a:hover{
	color:#c472d6;
    border-color:#c472d6;
}
.violet #quote-carousel .carousel-indicators .active{
	border-color:#c472d6;
}
.violet #max-blog-section .btn-primary:hover {
	background-color:#c472d6 !important;
}
.violet #classic-price{
	background:#c472d6;
}
.violet .member-profile span{
	color:#c472d6;
}
.violet .plan-box .btn-primary{
	color: #000000 !important;
}
.violet .post-box h2 a{
	color:#c472d6;
}
.violet #max-slider-section{
	background:#c472d6;
}
.violet #max-skills{
	strokeStyle:#c472d6;
}

.icon-briefcase, .icon-route, .icon-command, .icon-coffee-beans{
	color: #fff!important;
}

.border-design{
	position: relative;
}
.border-design-dot{
	position: absolute;
    margin-top: 37px;
    margin-left: -28px;
    height: 7px;
    border-radius: 3.5px;
    width: 7px;
    background-color: #000;
}
	  